body{
    background-color: #DBF9;
    margin: 50;
    font-family: Papyrus;
    font-size: 18px;
  }
  p, h1{
    text-align: center;
    margin: 1em auto;
  }
  p,input{
    margin: 1em auto;
  }
  p,select{
    padding: 3px;
    margin: 1em auto;
  }
  input{
    background-color: #361b03;
  }
  textarea{
    background-color: #DBF9DB
  } 
  